<div class="base-news">
    <figure class="image-wrapper">
        <img alt="{{title}}"
             class="img-fluid w-100"
             src="data:image/jpg;base64,{{picture}}"/>
        <figcaption class="image-info">
            <span class="line"></span>
            <span *ngIf="date" class="date">{{date | date}}</span>
        </figcaption>
    </figure>
    <h1 *ngIf="title" class="title">
        {{title}}
    </h1>
    <p *ngIf="description" class="description">
        {{description}}
    </p>
</div>
