<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="news">
            <h2><span jhiTranslate="jaworznoApp.news.detail.title">News</span> {{ news.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jaworznoApp.news.title">Title</span></dt>
                <dd>
                    <span>{{ news.title }}</span>
                </dd>
                <dt><span jhiTranslate="jaworznoApp.news.content">Content</span></dt>
                <dd>
                    <span>{{ news.content }}</span>
                </dd>
                <dt><span jhiTranslate="jaworznoApp.news.date">Date</span></dt>
                <dd>
                    <span>{{ news.date }}</span>
                </dd>
                <dt><span jhiTranslate="jaworznoApp.news.description">Description</span></dt>
                <dd>
                    <span>{{ news.description }}</span>
                </dd>
                <dt><span jhiTranslate="jaworznoApp.news.picture">Picture</span></dt>
                <dd>
                    <div *ngIf="news.picture">
                        <a (click)="openFile(news.pictureContentType!, news.picture)">
                            <img [src]="'data:' + news.pictureContentType + ';base64,' + news.picture" alt="news image"
                                 style="max-width: 100%;"/>
                        </a>
                        {{ news.pictureContentType }}, {{ byteSize(news.picture) }}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/news', news.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
