{
    "printWidth": 70,
    "singleQuote": true,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "htmlWhitespaceSensitivity": "strict",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "jsxBracketSameLine": false
}
