<ngb-carousel class="carousel" *ngIf="sliders">
    <ng-template ngbSlide *ngFor="let slider of sliders; index as index">
        <div class="img-wrapper">
        <img  [alt]="slider.title"
             src="data:{{slider.pictureContentType}};base64,{{slider.picture}}">
        </div>
        <div class="carousel-caption">
            <h3><a class="text-white" [href]="slider.link">{{slider.title}}</a></h3>
            <p>{{slider.description}}</p>
        </div>
    </ng-template>
</ngb-carousel>
