<footer class="bg-secondary">
    <div class="container pt-4">
        <div class="row text-light">
            <div class="col-md-3 col-sm-6 col-12 mx-auto">
                <img class="main-logo my-auto" src="/api/util/logo" alt="jaworzno">
            </div>
            <div class="col-md-3 col-sm-6 col-12 mx-auto">
                <div>O biegu</div>
                <div>Regulamin serwisu</div>
                <div>Polityka prywatności</div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 mx-auto">
                <div>Wolontariat</div>
                <div>FAQ</div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 mx-auto">
                <h3>Kontakt</h3>
                <div>info@example.com</div>
                <div>priv@example.com</div>
            </div>
        </div>
    </div>
    <hr class="divider"/>
    <div class="row col">
        <div class="mx-auto py-3">© Copyright by Jakub Śpiewak</div>
    </div>
</footer>
