$primary: #3e8acc;
$radius: 8px;

.item-container {
  margin: 16px 0;
}

.item-date {
  //background: $primary;
  width: 100%;
}

.item-date-day {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
  background: lighten($primary, 32);
  width: 100%;
}

.item-date-month {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
  background: $primary;
  width: 100%;
}
