@import 'src/main/webapp/content/scss/global';

$radius: 8px;

@mixin item-date-square-sizing {
  width: 48px;
  height: 24px;
}

.item-container {
  margin: 8px 0;
}

.item-date-day {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
  background: lighten($primary, 32);
  @include item-date-square-sizing;
}

.item-date-month {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
  @include item-date-square-sizing;
}
