@import 'src/main/webapp/content/scss/global';
@import '~bootstrap/scss/mixins/gradients';

$radius: 8px;

@mixin item-date-square-sizing {
  width: 48px;
  height: 24px;
}

.item-container {
  margin: 8px 0;
  border: white solid 1px;
  padding: 5px;
}

.item-container:hover {
  border: lightgray solid 1px;
  border-radius: $radius;
  background: whitesmoke;
  box-shadow: 0 0 20px 5px $dark;
}

.item-date-day {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
  @include gradient-bg($secondary);
  @include item-date-square-sizing;
}

.item-date-month {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
  @include gradient-bg($primary);
  @include item-date-square-sizing;
}
