<div>
    <h2 id="page-heading">
        <span jhiTranslate="jaworznoApp.sponsor.home.title">Sponsors</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sponsor" [routerLink]="['/sponsor/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jaworznoApp.sponsor.home.createLabel">
            Create a new Sponsor
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="sponsors?.length === 0">
        <span jhiTranslate="jaworznoApp.sponsor.home.notFound">No sponsors found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="sponsors?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jaworznoApp.sponsor.logo">Logo</span></th>
                    <th scope="col" ><span jhiTranslate="jaworznoApp.sponsor.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="jaworznoApp.sponsor.link">Link</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sponsor of sponsors ;trackBy: trackId">
                    <td><a [routerLink]="['/sponsor', sponsor.id, 'view']">{{ sponsor.id }}</a></td>
                    <td>
                        <a *ngIf="sponsor.logo" (click)="openFile(sponsor.logoContentType, sponsor.logo)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="sponsor.logo">{{ sponsor.logoContentType }}, {{ byteSize(sponsor.logo) }}</span>
                    </td>
                    <td>{{ sponsor.name }}</td>
                    <td>{{ sponsor.link }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sponsor', sponsor.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sponsor', sponsor.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(sponsor)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
