<div class="container">
    <div class="row">
        <div class="col-12 news-header">
            <div class="d-flex">
                <h1 jhiTranslate="jaworznoApp.news.home.title">News</h1>
            </div>

            <span class="news-line"></span>
        </div>
    </div>

    <div class="row d-flex">
        <div *ngFor="let news of newsArray"
             class="col-6 col-md-3">
            <jhi-single-news-preview
                (click)="onElementClick(news)"
                [news]="news">
            </jhi-single-news-preview>
        </div>
    </div>

    <div class="row d-flex justify-content-center m-3">
        <ngb-pagination (pageChange)="loadPage($event)"
                        [(page)]="page"
                        [boundaryLinks]="true"
                        [collectionSize]="totalElements"
                        [pageSize]="pageSize"
                        [rotate]="true">
        </ngb-pagination>
    </div>
</div>
