<div class="container mt-3">
    <div class="row">
        <div class="col-12 news-header">
            <div class="d-flex">
                <h1 jhiTranslate="jaworznoApp.album.home.title">Photos</h1>
            </div>
            <span class="page-title-line"></span>
        </div>
    </div>


    <div class="row d-flex">
        <div *ngFor="let album of albums" class="col-6 col-md-3">
            <a [routerLink]="['/albums', album.id]">
                <jhi-preview-card
                    [date]="album.date"
                    [picture]="album.mainPicture"
                    (click)="passAlbumTitle(album.title)"
                    [title]="album.title"></jhi-preview-card>
            </a>
        </div>
    </div>

    <div *ngIf="totalPages > 1"
         class="row d-flex justify-content-center m-3">
        <ngb-pagination (pageChange)="loadPage($event)"
                        [(page)]="page"
                        [boundaryLinks]="true"
                        [collectionSize]="totalElements"
                        [pageSize]="size"
                        [rotate]="true">
        </ngb-pagination>
    </div>
</div>
