@import 'src/main/webapp/content/scss/global';

.navbar {
  padding: 0.2rem 1rem;
  display: flex;
  justify-content: space-between;
  background: $primary;
  //background: linear-gradient(0, $primary, darken($primary, 24));

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    color: $light;
    font-weight: 300;
    //font-weight: 500;
    //font-style: italic;
    text-transform: uppercase;
  }

  a.nav-link:hover {
    color: darken($light, 24);
  }
}
