@import 'src/main/webapp/content/scss/global';

.navbar {
  min-height: 64px;

  a.nav-link {
    color: $light;
    font-weight: 300;
    text-transform: uppercase;
  }

  a.nav-link:hover {
    color: darken($light, 24);
  }
}
