<nav class="navbar navbar-expand-md navbar-light mt-2">

    <button class="navbar-toggler ml-auto"
            type="button"
            (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed"
         class="collapse navbar-collapse">
        <ul class="navbar-nav nav-fill w-100">
            <li class="nav-item">
                <a class="nav-link"
                   routerLink="/news"
                   routerLinkActive="active">
                    <span jhiTranslate="global.menu.entities.news">Nowości</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   routerLink="/organizer"
                   routerLinkActive="active">
                    <span jhiTranslate="global.organizer">Organizator</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   routerLink="/voluntary"
                   routerLinkActive="active">
                    <span jhiTranslate="global.voluntary">Wolontariat</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   routerLink="/pictures"
                   routerLinkActive="active">
                    <span jhiTranslate="global.pictures">Zdjęcia</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   routerLink="/video"
                   routerLinkActive="active">
                    <span jhiTranslate="global.menu.entities.video">Video</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   routerLink="/previous"
                   routerLinkActive="active">
                    <span jhiTranslate="global.previouseditions">Poprzednie edycje</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
