<div class="row mb-4">
    <div class="col-lg-9 col-md-6 col-xs-12 mx-0">
        <jhi-carousel></jhi-carousel>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12 my-auto">
        <jhi-places></jhi-places>
    </div>
</div>
<div class="container">
    <div class="row mb-4">
        <div class="col">
            <jhi-home-title titleTranslate="poster.title"></jhi-home-title>
            <jhi-posters></jhi-posters>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <jhi-home-title routerLink="news"
                            titleTranslate="main.seeTo">
            </jhi-home-title>
            <jhi-newest-items></jhi-newest-items>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <jhi-home-title titleTranslate="news.title"></jhi-home-title>
            <jhi-news></jhi-news>
        </div>
    </div>
</div>
