<div class="row mb-4">
    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 mx-0">
        <jhi-carousel></jhi-carousel>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 my-auto">
        <jhi-places></jhi-places>
    </div>
</div>
<div class="container">
    <div class="row mb-4">
        <div class="col">
            <jhi-title titleTranslate="poster.title">Wydarzenia</jhi-title>
            <jhi-posters></jhi-posters>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <jhi-title titleTranslate="main.seeTo">Zobacz również</jhi-title>
            <jhi-see-also></jhi-see-also>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <jhi-title router="news"
                       titleTranslate="news.title">Aktualności
            </jhi-title>
            <jhi-news-list [isPaginated]="false"
                           [size]="4"></jhi-news-list>
        </div>
    </div>
</div>
