@import 'src/main/webapp/content/scss/global';

.all-news-button {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 20px;
  background-color: transparent;
  border: 1px solid rgba(81, 81, 81, 0.2);
}

.all-news-button:hover {
  background-color: rgba(81, 81, 81, 0.2);
}
