<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="album">
            <h2><span jhiTranslate="jaworznoApp.album.detail.title">Album</span> {{ album.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jaworznoApp.album.title">Title</span></dt>
                <dd>
                    <span>{{ album.title }}</span>
                </dd>
                <dt><span jhiTranslate="jaworznoApp.album.date">Date</span></dt>
                <dd>
                    <span>{{ album.date }}</span>
                </dd>
                <dt><span jhiTranslate="jaworznoApp.album.mainPicture">MainPicture</span></dt>
                <dd>
                    <div *ngIf="album.mainPicture">
                        <a (click)="openFile(album.mainPictureContentType, album.mainPicture)"
                           *ngIf="album.mainPicture">
                            <img [src]="'data:' + album.mainPictureContentType + ';base64,' + album.mainPicture"
                                 alt="album main picture"
                                 style="max-height: 100px;"/>
                        </a>
                        {{ album.mainPictureContentType }}, {{ byteSize(album.mainPicture) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="jaworznoApp.album.pictures">Pictures</span></dt>
                <dd>
                    <div *ngFor="let picture of album.pictures" class="d-inline-flex mr-1">
                        <a (click)="openFile(picture.dataContentType, picture.data)">
                            <img [src]="'data:' + picture.dataContentType + ';base64,' + picture.data"
                                 alt="album picture"
                                 style="max-height: 100px;"/>
                        </a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/admin/album', album.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
