<div>
    <h2 id="page-heading">
        <span jhiTranslate="jaworznoApp.album.home.title">Albums</span>

        <button [routerLink]="['/admin/album/new']"
                class="btn btn-primary float-right jh-create-entity create-album"
                id="jh-create-entity">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="jaworznoApp.album.home.createLabel">
            Create a new Album
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="albums?.length === 0">
        <span jhiTranslate="jaworznoApp.album.home.notFound">No albums found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="albums?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col"><span jhiTranslate="jaworznoApp.album.title">Title</span></th>
                    <th scope="col"><span jhiTranslate="jaworznoApp.album.date">Date</span></th>
                    <th scope="col"><span jhiTranslate="jaworznoApp.album.mainPicture">Main Picture</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let album of albums ;trackBy: trackId">
                <td><a [routerLink]="['/admin/album', album.id, 'view']">{{ album.id }}</a></td>
                <td>{{ album.title }}</td>
                <td>{{ album.date | date:'medium' }}</td>
                <td>
                    <a (click)="openFile(album.mainPictureContentType, album.mainPicture)"
                       *ngIf="album.mainPicture">
                        <img [src]="'data:' + album.mainPictureContentType + ';base64,' + album.mainPicture"
                             alt="album main picture"
                             style="max-height: 30px;"/>
                    </a>
                    <span *ngIf="album.mainPicture">{{ album.mainPictureContentType }}
                        , {{ byteSize(album.mainPicture) }}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/admin/album', album.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline"
                                  jhiTranslate="entity.action.view">View</span>
                        </button>

                        <button type="submit"
                                    [routerLink]="['/admin/album', album.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(album)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
