<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-album-heading" jhiTranslate="jaworznoApp.album.home.createOrEditLabel">Create or edit a
                Album</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly type="text"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jaworznoApp.album.title"
                           for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" for="field_date" jhiTranslate="jaworznoApp.album.date">Date</label>
                <div class="d-flex">
                    <input class="form-control" formControlName="date" id="field_date" name="date"
                           placeholder="YYYY-MM-DD HH:mm" type="datetime-local"/>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" for="field_picture" jhiTranslate="jaworznoApp.album.mainPicture">Picture</label>
                <div>
                    <img *ngIf="editForm.get('mainPicture')!.value"
                         [src]="'data:' + editForm.get('mainPictureContentType')!.value + ';base64,' + editForm.get('mainPicture')!.value"
                         alt="news image" style="max-height: 100px;"/>
                    <div *ngIf="editForm.get('mainPicture')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('mainPictureContentType')!.value }}
                                , {{ byteSize(editForm.get('mainPicture')!.value) }}</span>
                        <button (click)="clearInputImage('mainPicture', 'mainPictureContentType', 'file_picture')"
                                class="btn btn-secondary btn-xs pull-right" type="button">
                            <fa-icon icon="times"></fa-icon>
                        </button>
                    </div>
                    <input (change)="setFileData($event, 'mainPicture', true)" accept="image/*" id="file_picture"
                           jhiTranslate="entity.action.addimage" type="file"/>
                </div>
                <input class="form-control" formControlName="mainPicture" id="field_picture" name="picture"
                       type="hidden"/>
                <input class="form-control" formControlName="mainPictureContentType" id="field_pictureContentType"
                       name="pictureContentType"
                       type="hidden"/>
                <div
                    *ngIf="editForm.get('mainPicture')!.invalid && (editForm.get('mainPicture')!.dirty || editForm.get('mainPicture')!.touched)">
                    <small *ngIf="editForm.get('mainPicture')?.errors?.required"
                           class="form-text text-danger" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <div formArrayName="pictures">
                    <div>
                        <label class="form-control-label"
                               for="field_pictures"
                               jhiTranslate="jaworznoApp.album.pictures">Pictures</label>
                    </div>
                    <div *ngFor="let picture of pictures.controls; let i = index"
                         class="d-inline-flex mr-1">
                        <div [formGroupName]="i.toString()" class="xdd">
                            <div class="picture-container">
                                <img [src]="'data:' + picture.value.dataContentType + ';base64,' + picture.value.data"
                                     alt="album picture"
                                     style="max-height: 100px;"
                                     usemap="#map">
                                <a>
                                    <map name="map">
                                        <area (click)="openFile(picture.value.dataContentType, picture.value.data)"
                                              alt="clickable"
                                              coords="0, 25%, 100%, 100%"
                                              shape="rect">
                                    </map>
                                    <fa-icon (click)="onPictureDeleteClick(i)"
                                             class="fa-lg m-1"
                                             icon="times">
                                    </fa-icon>
                                </a>
                            </div>
                        </div>
                    </div>


                    <input (change)="addAlbumPictures($event)"
                           accept="image/*"
                           id="file_pictures"
                           jhiTranslate="entity.action.addimage"
                           multiple
                           type="file"/>

                    <input class="form-control"
                           id="field_pictures"
                           name="picture"
                           type="hidden"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
