<div class="d-flex flex-row justify-content-between">
    <div class="float-left main-logo-row">
        <a routerLink="/">
            <img src="data:image/jpg;base64,{{sponsors[1]?.logo}}" alt="logo">
        </a>
    </div>
    <div>
        <jhi-social-media></jhi-social-media>
    </div>
</div>

<div class="sponsors-logo-row d-flex flex-row justify-content-between">
    <div class="w-100" *ngFor="let sponsor of sponsors">
        <img src="data:image/jpg;base64,{{sponsor.logo}}" alt="logo">
    </div>
</div>

