<div class="row mr-0">

    <div class="col-4">
        <div class="float-left main-logo-row">
            <a routerLink="/"><img src="/api/util/logo" alt="logo"></a>
        </div>
    </div>

    <div class="col-8">
        <div class="row">
            <div class="col">
                <jhi-social-media class="d-flex float-right"></jhi-social-media>
            </div>
        </div>
        <div class="row">
            <div class="col mt-auto">
                <div class="sponsors-logo-row d-flex justify-content-end">
                    <a class="h-100 mr-3 sponsor-item" *ngFor="let sponsor of sponsors" [href]="sponsor.link">
                        <img src="data:{{sponsor.logoContentType}};base64,{{sponsor.logo}}" alt="logo" class="active-img">
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
