<div class="d-flex flex-row justify-content-between">
    <div class="float-left main-logo-row">
        <img src="https://logomaster.ai/static/media/gallery002.936afb9d.png" alt="jaworzno">
    </div>
    <div>
        <jhi-social-media></jhi-social-media>
    </div>
</div>

<div class="sponsors-logo-row d-flex flex-row justify-content-around">
    <div>
        <img src="https://www.nn.pl/.resources/nn-module/webresources/dist/images/logo.png" alt="logo-1">
    </div>
    <div>
        <img src="https://www.nn.pl/.resources/nn-module/webresources/dist/images/logo.png" alt="logo-2">
    </div>
    <div>
        <img src="https://www.nn.pl/.resources/nn-module/webresources/dist/images/logo.png" alt="logo-3">
    </div>
    <div>
        <img src="https://www.nn.pl/.resources/nn-module/webresources/dist/images/logo.png" alt="logo-4">
    </div>
</div>

