<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="place">
            <h2><span jhiTranslate="jaworznoApp.place.detail.title">Place</span> {{ place.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jaworznoApp.place.date">Date</span></dt>
                <dd>
                    <span>{{ place.date }}</span>
                </dd>
                <dt><span jhiTranslate="jaworznoApp.place.name">Name</span></dt>
                <dd>
                    <span>{{ place.name }}</span>
                </dd>
                <dt><span jhiTranslate="jaworznoApp.place.link">Link</span></dt>
                <dd>
                    <span>{{ place.link }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/admin/place', place.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
